.benefits
  .main-container
    .benefits__welcome
      h2.main-title
        span.main-title__stroke Делаем всё,
        |  чтобы защитить наших покупателей
      p.benefits__welcome-text
        i.icon-quote
        | Наши поставщики — только небольшие и технологичные фермерские хозяйства в Краснодарском крае. Мы лично посещаем каждое хозяйство и проводим тщательный отбор, который проходит только один поставщик из трех. И регулярно проверяем соответствие требованиям ГОСТ и Ветуправления. А также обеспечиваем максимально безопасную доставку.
  .benefits__list
    .main-container
      .benefits__row
        .benefits__item.benefits__item--1
          .benefits__img-w
            .benefits__img-w-inner.benefits__img-w-inner--1
          .benefits__cont
            h3.benefits__title Привозим
              span исключительно
              span свежее
            .benefits__text
              p У 80% нашей продукции срок годности составляет от 5 до 14 суток, поэтому мы привозим свежие продукты с фермы на следующий день после вашего заказа. С хозяйства прямо к вам на стол.
        .benefits__item.benefits__item--2
          .benefits__img-w
            .benefits__img-w-inner.benefits__img-w-inner--2
          .benefits__cont
            h3.benefits__title Верим фермеру
              span не только
              span на слово
            .benefits__text
              p В молоке нет жиров и порошка, в мясе и птице нет антибиотиков, в яйцах — болезнетворных бактерий и прочих добавок.
                br
                |  Мы это гарантируем, потому что проверяем лично. Раз в 2 недели мы сдаем случайные образцы из всей продукции на проверку
                br
                |  в лабораторию. Результаты всех исследований мы выкладываем в открытый доступ.
        .benefits__item.benefits__item--3
          .benefits__img-w
            .benefits__img-w-inner.benefits__img-w-inner--3
          .benefits__cont
            h3.benefits__title Исключаем лишние контакты с людьми
            .benefits__text
              p Все продукты упаковываются в герметичную упаковку на стерильных производствах и больше не переупаковываются. Курьер в маске и перчатках привозит ваш набор в холодильнике, который дезинфицируется перед каждым рейсом. Оставляет на поверхности и отходит на 3 метра.
      .benefits__row
        .benefits__item.benefits__item--4
          .benefits__img-w
            .benefits__img-w-inner.benefits__img-w-inner--4
          .benefits__cont
            h3.benefits__title Озабочены безопасностью производства
            .benefits__text
              p Каждый фермер безжалостно проверен лично нами, а также имеет два важных документа, гарантирующих безопасность: ветеринарное свидетельство и декларацию соответствия.
                br
                |  С хозяйствами без этих жизненно необходимых разрешений мы не работаем.
