.main-container
	.catalog-info
		.col.catalog-info__cont
			.catalog-info__w-img
				.catalog-info__w-img-inner(style="background-image: url('img/pic-23.jpg');")
			.catalog-info__cont-item
				.main-title
					span.main-title__stroke  БЕЗОПАСНЫЕ ДЛЯ
					|  ЗДОРОВЬЯ
				.catalog-info__cont-text
					i.icon-quote
					p Мы гарантируем безопасность продуктов и подтверждаем отчетами из независимой лаборатории. К тому же у нас бесконтактная доставка и каждого поставщика мы знаем лично.
			.catalog-info__cont-item
				.main-title СВЕЖИЕ И ТОЛЬКО
					span.main-title__stroke  ЧТО УПАКОВАННЫЕ
				.catalog-info__cont-text
					i.icon-quote
					p Еще до запуска сервиса «Ключевское. От своих» мы хотели, чтобы натуральные, свежие и безопасные продукты с фермерских хозяйств быстро попадали на стол покупателей — без задержек, минуя хранение в складских помещениях.
					p Мы планировали работу сервиса таким образом: человек захотел купить свежие продукты, пришел на сайт, оформил заказ и на следующий день уже увидел их на своем столе — свежеприготовленные и упакованные на фермах Краснодарского края. Все продукты герметично упаковываются, в таком же виде доставляются курьером до двери. Так у нас и получилось.
			.catalog-info__cont-item
				.main-title
					span.main-title__stroke  Бесконтактная
					|  доставка
				.catalog-info__cont-text
					i.icon-quote
					p Мы организовали бесконтактную доставку на дом в Краснодаре и Горячем Ключе. Бесплатно привозим при заказе выше установленного минимума, который можно увидеть в корзине при оформлении заказа.
		.catalog-info__aside
			.catalog-info__w-img
				.catalog-info__w-img-inner(style="background-image: url('img/pic-23.jpg');")
			.certificate
				.certificate-slider__arrow
					a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
						i.icon-arrow-left
					a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
						i.icon-arrow-right
				a(href="").certificate__more
					i.icon-arrow-left-top-45
					span.certificate__more-text О ФЕРМЕ
				.certificate-slider
					.certificate-slider__item
						a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
							img(src="img/pic-21.jpg" alt="").certificate-slider__img
						.certificate-slider__name Сертификат качества 2020 года
						.certificate-slider__text Заключение краснодарского фермерского сообщества.
					.certificate-slider__item
						a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
							img(src="img/pic-21.jpg" alt="").certificate-slider__img
						.certificate-slider__name Сертификат качества 2020 года
						.certificate-slider__text Заключение краснодарского фермерского сообщества.