.main-container
  .catalog-info
    .col.catalog-info__cont
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-23.jpg');")
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Наши
          |  поставщики
        .catalog-info__cont-text
          i.icon-quote
          p Это небольшие хозяйства, на которых фермеры вкладывают все силы и душу в то, что делают. Они производят не на широкий рынок сбыта оптом, а как будто для себя и своей семьи. Поэтому продукция в нашем магазине натуральная, живая и вкусная. Отзывы можно прочитать в наших социальных сетях и на главной странице.
      .catalog-info__cont-item
        .main-title Проверяем
          span.main-title__stroke  в лаборатории
        .catalog-info__cont-text
          i.icon-quote
          p Каждые две недели случайно выбранные образцы продукции мы отправляем на проверку в лабораторию. Результаты публикуем в открытом доступе. Таким образом мы можем постоянно контролировать качество продуктов и добросовестность поставщиков.
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Бесконтактная
          |  доставка
        .catalog-info__cont-text
          i.icon-quote
          p У нас бесконтактная доставка по Краснодару и Горячему Ключу. Если общая цена заказа выше установленного минимума (будет указан в корзине), то мы доставим бесплатно.
    .catalog-info__aside
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-23.jpg');")
      .certificate
        .certificate-slider__arrow
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
            i.icon-arrow-left
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
            i.icon-arrow-right
        a(href="").certificate__more
          i.icon-arrow-left-top-45
          span.certificate__more-text О ФЕРМЕ
        .certificate-slider
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.