.main-container
  .catalog-info
    .col.catalog-info__cont
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-27.jpg');")
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Ассортимент молочных
          |  продуктов
        .catalog-info__cont-text
          i.icon-quote
          p В нашем магазине вы найдете фермерские молочные продукты наилучшего качества от небольшого инновационного предприятия Краснодарского края — «Ключевское». В ассортименте представлено молоко, кефир, сливки, творог, сметана, сливочное масло.
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Наши ценности на примере производства
          |  «Ключевское»
        .catalog-info__cont-text
          i.icon-quote
          p Цельное молоко — флагман продуктовой линейки «Ключевское».
          p Только что надоенное молоко привозят из коровника, слегка нагревают и сразу упаковывают. И всё. В нем даже сохраняются изначальные сливки — можно заметить, как они оседают на стенках стакана при употреблении.
          p И благодаря технологии мягкой пастеризации домашнее молоко сохраняет свою пользу, но срок его хранения не превышает 7 суток. Такое молоко не хранятся долго и при скисании превращаются в простоквашу, из которой можно сделать нежный домашний творог.
          p Поэтому цельное молоко «Ключевское» такое насыщенное по содержанию и по вкусу напоминает то самое, «из-под коровы». А еще оно невообразимо полезно: кальций, магний, другие минералы и полезные живые культуры.
    .catalog-info__aside
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-27.jpg');")
      .certificate
        .certificate-slider__arrow
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
            i.icon-arrow-left
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
            i.icon-arrow-right
        a(href="").certificate__more
          i.icon-arrow-left-top-45
          span.certificate__more-text О ФЕРМЕ
        .certificate-slider
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.