.main-container
  .catalog-info
    .col.catalog-info__cont
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-24.jpg');")
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Закажите сегодня,
          |  привезем уже завтра
        .catalog-info__cont-text
          i.icon-quote
          p Мы доставляем продукцию в Краснодаре и Горячем Ключе. Цена и ассортимент указаны на нашем сайте, если заказать доставку сегодня, мы привезем продукты на дом уже завтра, или в любой удобный день. У нас бесконтактная доставка.
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Наши сыры
          |  абсолютно безопасны
        .catalog-info__cont-text
          i.icon-quote
          p Мы уверены в качестве и безопасности «Ключевское. От своих» не только потому, что знакомы лично с каждым нашим поставщиком в Краснодарском крае, но и потому что раз в две недели проверяем продукцию в независимой лаборатории, а результаты проверки публикуем на нашем сайте — так мы гарантируем безопасность для покупателей.
          p Кроме этого перед началом сотрудничества с каждым фермером и добавлением его продукции в наш магазин, проверяем наличие ветеринарного свидетельства и декларации соответствия, что гарантирует соблюдение на производстве нормативов, установленных государством.
    .catalog-info__aside
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-24.jpg');")
      .certificate
        .certificate-slider__arrow
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
            i.icon-arrow-left
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
            i.icon-arrow-right
        a(href="").certificate__more
          i.icon-arrow-left-top-45
          span.certificate__more-text О ФЕРМЕ
        .certificate-slider
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.