.main-container
	.catalog-info
		.col.catalog-info__cont
			.catalog-info__w-img
				.catalog-info__w-img-inner(style="background-image: url('img/pic-22-3.jpg');")
			.catalog-info__cont-item
				.main-title
					span.main-title__stroke  ДОСТАВКА В КРАСНОДАРЕ И
					|  ГОРЯЧЕМ КЛЮЧЕ
				.catalog-info__cont-text
					i.icon-quote
					p В нашем интернет-магазине можно купить замороженные продукты с доставкой по Краснодару и Горячему Ключу. Мы принимаем заказы на доставку день в день, а также на конкретную дату.
					p Доставляем в Краснодар и Горячий Ключ с соблюдением всех норм безопасности, в том числе норм по бесконтактной доставке.
					p Доставка бесплатная, если цена заказа больше установленного для этого минимума. Минимальную цену можно увидеть в корзине, после добавления товаров и на странице доставки.
					p Отзывы о продуктах «Ключевское. От своих» можно найти в наших социальных сетях и на главной странице.
			.catalog-info__cont-item
				.main-title
					span.main-title__stroke  ТЕХНОЛОГИЯ
					|  ЗАМОРОЗКИ
				.catalog-info__cont-text
					i.icon-quote
					p При отборе поставщиков мы также учитываем то, какие способы заморозки они используют в каждом случае.
					p Чтобы замороженные продукты сохранили свою вкус, витамины и минералы, наши поставщики используют быструю заморозку (или «шоковую»). Сначала продукты охлаждаются до 0°C; на втором этапе — заморозка до –5°C / –6°C, так продукт кристаллизуется на 65—75%; на третьем этапе происходит окончательное замораживание до –17°C / –19°C.
					p Таким образом в наш сервис «Ключевское. От своих» попадают только полезные и безопасные замороженные продукты напрямую от добросовестных поставщиков.

		.catalog-info__aside
			.catalog-info__w-img
				.catalog-info__w-img-inner(style="background-image: url('img/pic-22-3.jpg');")
			.certificate
				.certificate-slider__arrow
					a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
						i.icon-arrow-left
					a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
						i.icon-arrow-right
				a(href="").certificate__more
					i.icon-arrow-left-top-45
					span.certificate__more-text О ФЕРМЕ
				.certificate-slider
					.certificate-slider__item
						a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
							img(src="img/pic-21.jpg" alt="").certificate-slider__img
						.certificate-slider__name Сертификат качества 2020 года
						.certificate-slider__text Заключение краснодарского фермерского сообщества.
					.certificate-slider__item
						a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
							img(src="img/pic-21.jpg" alt="").certificate-slider__img
						.certificate-slider__name Сертификат качества 2020 года
						.certificate-slider__text Заключение краснодарского фермерского сообщества.