.main-container
  .catalog-info
    .col.catalog-info__cont
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-25.jpg');")
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Фокусируемся
          |  на безопасности
        .catalog-info__cont-text
          i.icon-quote
          p Перед началом работы с хозяйствами мы проверяем наличие ветеринарного свидетельства и декларации соответствия. Эти документы подтверждают соблюдение стандартов безопасности, установленных государственными органами.
          p Кроме этого, раз в две недели мы передаем случайно выбранные образцы продукции в независимую лаборатории. В эту выборку также попадают и овощи — так мы следим, чтобы продукция была выращена в естественных условиях, без стимуляторов роста, инсектицидов и других вредных удобрений.
          p Таким образом мы создали сервис «Ключевское. От своих», где вы можете купить свежие овощи. И быть в этом уверенными в их безопасности.
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Бесплатная и бесконтактная
          |  доставка
        .catalog-info__cont-text
          i.icon-quote
          p Доставка на дом по Краснодару и Горячему Ключу бесплатная, если цена заказа свыше установленного минимума (который можно увидеть в корзине при оформлении или на странице доставки).
          p У нас бесконтактная система — курьер в маске и перчатках привозит ваш набор в холодильнике, поставит его на поверхность и отойдет на несколько метров. Холодильники мы дезинфицируем перед каждым рейсом.
          p Мы привозим набор на следующий день после оформления покупки. Также вы можете заказать доставку на удобное для вас время.
    .catalog-info__aside
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-25.jpg');")
      .certificate
        .certificate-slider__arrow
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
            i.icon-arrow-left
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
            i.icon-arrow-right
        a(href="").certificate__more
          i.icon-arrow-left-top-45
          span.certificate__more-text О ФЕРМЕ
        .certificate-slider
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.