.main-container
  .catalog-info
    .col.catalog-info__cont
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-26.jpg');")
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Польза
          |  для здоровья
        .catalog-info__cont-text
          i.icon-quote
          p Домашние мучные изделия не только очень вкусные, но и полезные для здоровья — цельнозерновые сорта муки богаты клетчаткой, витаминами и минералами. Они укрепляют иммунитет, способствуют улучшению пищеварения, нормализации давления.
          p Например, ремесленный хлеб на ржаной закваске снижает уровень холестерина, помогает при анемии. Полон семян льна и подсолнечника. Вместо дрожжей в закваске используются лактобактерии, которые поглощают сложные элементы муки, облегчая усвоение хлеба нашим организмом.
      .catalog-info__cont-item
        .main-title Безопасность,
          span.main-title__stroke  подтвержденная сертификатами
        .catalog-info__cont-text
          i.icon-quote
          p Каждое фермерское хозяйство, с которыми мы начинаем сотрудничать, тщательно проверяется, чтобы в наш магазин попадала только качественная продукция.
          p У каждого нашего поставщика есть ветеринарное свидетельство и декларация соответствия. Это гарантирует, что качество всей продукции соответствует требованиям нормативных документов и системе ГОСТ.
      .catalog-info__cont-item
        .main-title Доставка
        .catalog-info__cont-text
          i.icon-quote
          p Наши поставщики — это небольше фермерские и крестьянские хозяйства в Краснодарском крае. Они приготовят для вас вкусную и качественную сдобу, а мы привезем их к вашему столу максимально свежими, напрямую из печи.
          p На нашем сайте вы можете купить свежие хлебобулочные изделия и бесконтактной доставкой по Краснодару и Горячему Ключу.
    .catalog-info__aside
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-26.jpg');")
      .certificate
        .certificate-slider__arrow
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
            i.icon-arrow-left
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
            i.icon-arrow-right
        a(href="").certificate__more
          i.icon-arrow-left-top-45
          span.certificate__more-text О ФЕРМЕ
        .certificate-slider
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.