.main-container
  .catalog-info
    .col.catalog-info__cont
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-20.jpg');")
      .catalog-info__cont-item
        .main-title Преимущество
          span.main-title__stroke  перед крупным производством
        .catalog-info__cont-text
          i.icon-quote
          p У небольших хозяйств есть важные преимущества перед крупными производителями мясных изделий, обслуживающими магазины по всей России — это вольный выпас и естественные корма.
          p Вольный выпас позволяет животным активно двигаться, у них нарастает плотная мышечная масса, именно поэтому мясо не бывает рыхлым, чрезмерно жирным и имеет правильную структуру. А естественные корма насыщают его витаминами и минералами, делая полезным и безопасным для здоровья.
      .catalog-info__cont-item
        .main-title Безопасность,
          span.main-title__stroke  подтвержденная сертификатами
        .catalog-info__cont-text
          i.icon-quote
          p Мы строго отбираем мясо птицы, перед добавлением на сайт. Только каждый третий поставщик проходит проверку: по условиям содержания, кормам, наличию необходимых документов — ветеринарного свидетельства и декларации соответствия.
          p Кроме этого мы не сотрудничаем с хозяйствами, которые размещены рядом с крупными транспортными магистралями.
          p Каждые две недели из всей продукции мы выбираем случайные образцы и передаем в независимую лабораторию. Все результаты исследований публикуем на нашем сайте. Регулярные проверки позволяют нам следить за качеством продукции, а нашим покупателям быть уверенными в безопасности.
          p У нас бесконтактная и бесплатная (при цене заказа, выше установленной) доставка по Краснодару и Горячему Ключу.
    .catalog-info__aside
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-20.jpg');")
      .certificate
        .certificate-slider__arrow
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
            i.icon-arrow-left
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
            i.icon-arrow-right
        a(href="").certificate__more
          i.icon-arrow-left-top-45
          span.certificate__more-text О ФЕРМЕ
        .certificate-slider
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.