.main-container
  .catalog-info
    .col.catalog-info__cont
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-22.jpg');")
      .catalog-info__cont-item
        .main-title Преимущества
          span.main-title__stroke  фермерской говядины
        .catalog-info__cont-text
          i.icon-quote
          p Цена на фермерскую говядину выше, чем на продукцию массового производства крупными компаниями. Но преимущества более значимы. Например, свободный выпас, благодаря которому животные активно двигаются, что естественно влияет на увеличение мышечной массы. На пастбище животные питаются натуральными кормами, накапливая витамины и минералы. А забой скота фермеры проводят после получения заказа.
      .catalog-info__cont-item
        .main-title
          span.main-title__stroke  Доставляем только от поставщиков
          |  из Краснодарского края
        .catalog-info__cont-text
          i.icon-quote
          p Работаем только с фермерскими хозяйствами в Краснодарском крае. Логистика по такому принципу позволяет быстро доставлять свежее мясо к вашему столу. Доставляем в Краснодар и Горячий Ключ, бесконтактно и с соблюдением норм безопасности.
          p Доставка бесплатная, если цена заказа больше установленного для этого минимума. Минимальную цену можно увидеть в корзине, после добавления товаров и на странице доставки.
          p Отзывы о продуктах «Ключевское. От своих» можно найти в наших социальных сетях и на главной странице.
    .catalog-info__aside
      .catalog-info__w-img
        .catalog-info__w-img-inner(style="background-image: url('img/pic-22.jpg');")
      .certificate
        .certificate-slider__arrow
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--prev
            i.icon-arrow-left
          a(href="").certificate-slider__arrow-item.certificate-slider__arrow-item--next
            i.icon-arrow-right
        a(href="").certificate__more
          i.icon-arrow-left-top-45
          span.certificate__more-text О ФЕРМЕ
        .certificate-slider
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.
          .certificate-slider__item
            a(href="img/pic-21.jpg" data-rel="lightcase").certificate-slider__img-w
              img(src="img/pic-21.jpg" alt="").certificate-slider__img
            .certificate-slider__name Сертификат качества 2020 года
            .certificate-slider__text Заключение краснодарского фермерского сообщества.