.main-container.catalog
  .catalog__title-group
    h2.main-title ПРОДУКТЫ
    .catalog-filter
      .catalog-filter__label Всего 32 товара
      .catalog-filter__item
        a(href="").catalog-filter__btn по популярности
          i.icon-caret
  ul.catalog__list
    .catalog__list-item
      a(href="#modal-product").catalog__list-img-w.modal-btn
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="#modal-product").catalog__list-name.modal-btn Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="#modal-product").catalog__list-btn-g-item.catalog__list-btn-g-item--key.modal-btn
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="#modal-product2").catalog__list-img-w.modal-btn
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-2.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="#modal-product2").catalog__list-name.modal-btn Кейфир
          span  «Ключевское»
        .catalog__list-price.catalog__list-price--old 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
          span.catalog__list-price-old 180
            span.rub  ₽
        .catalog__list-btn-g
          a(href="#modal-product2").catalog__list-btn-g-item.catalog__list-btn-g-item--key.modal-btn
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="#modal-product3").catalog__list-img-w.modal-btn
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-3.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="#modal-product3").catalog__list-name.modal-btn Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="#modal-product3").catalog__list-btn-g-item.catalog__list-btn-g-item--key.modal-btn
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-4.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
    .catalog__list-item
      a(href="").catalog__list-img-w
        span.catalog__list-img-line.catalog__list-img-line--1
        span.catalog__list-img-line.catalog__list-img-line--2
        span.catalog__list-img-line.catalog__list-img-line--3
        span.catalog__list-img-line.catalog__list-img-line--4
        span.catalog__list-img-line.catalog__list-img-line--5
        span.catalog__list-img-line.catalog__list-img-line--6
        img(src="img/catalog/catalog-1.png" alt="").catalog__list-img
      .catalog__list-cont
        a(href="").catalog__list-name Кейфир
          span  «Ключевское»
        .catalog__list-price 180
          span.rub  ₽
          span.catalog__list-price-size  300 г.
        .catalog__list-btn-g
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--key
            i.icon-key
          a(href="").catalog__list-btn-g-item.catalog__list-btn-g-item--basket
            i.icon-basket
        a(href="").catalog__list-btn В корзину
          i.icon-basket
  a(href="").catalog__btn-more еще 16 продуктов
a(href="#basket-modal").basket-status.modal-btn
  .basket-status__cont
    span.basket-status__cont-num 2
    i.icon-basket-2
  .basket-status__price 350
    span ₽