.main-container
  .co-founder
    .co-founder__logo-col
      .co-founder__logo-w
        img(src="img/logo-b.svg" alt="").co-founder__logo
      .co-founder__title-w
        .co-founder__title бесконтактная доставка безопасных фермерских продуктов в Краснодаре и Горячем Ключе напрямую с фермы.
    .co-founder__cont
      h3 Мы, как осознанные потребители, находимся между двух огней.
      p С одной стороны, мы избегаем нечестных продуктов с заменителями и консервантами.
        br
        |  С другой — не хотим стать жертвой «кустарных» производителей, которые не заботятся о чистоте, стерильности своего производства и стремятся к самой низкой цене своего продукта. Чем же кормить свою семью?
      p Эта неопределенность в безопасности продуктов, сподвигла нас создать «Ключевское. От своих» – сервис по отбору, контролю и доставке на дом безопасных фермерских продуктов в Краснодаре и Горячем Ключе напрямую с фермы.
    .col.co-founder__info
      img(src="img/co-founder-img.png" alt="").co-founder__info-img
      .co-founder__info-cont
        .co-founder__info-title
          span артем
          |  боровец
        .col.co-founder__info-text Cо-основатель
          span  "Ключевское. От своих"