.comments.main-container
  .comments__header
    h2.main-title
      span.main-title__stroke ОТЗЫВЫ
      |  НАШИХ ПОКУПАТЕЛЕЙ
    .col.comments__header-cont
      .comments__arrows
        .comments__arrows-item.comments__arrows-item--next
          i.icon-arrow-right
        .comments__arrows-item.comments__arrows-item--prev
          i.icon-arrow-left
      .col.comments__header-img
  .comments-slider-w
    .comments-slider
      .comments-slider__col
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title ol_ma
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Здравствуйте! Сегодня первый раз заказывали вашу доставку в Краснодаре! Спасибо большое, все очень свежее и очень вкусное отдельно хочется поблагодарить вашего водителя на чистой машине, в маске и перчатках пожелать можно только разве что расширения ассортимента
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title elena_markova_krd
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Обожаю вашу продукцию... Каждый вечер пьем всей семьёй ваш кефир. Самый вкусный на свете... А утром молоко...)
      .comments-slider__col
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title hochu_deneg
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Очень вкусная продукция у вас, жаль в магазинах возле дома нет сыра, с удовольствием бы попробовали давно
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title evgenia_ave1966
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Хочу оставить отзыв о продукции. Спасибо вам за свежайшие, вкусные и качественные продукты. Ем и наесться не могу)) Уже хочу опять) Творог, кефир нежные, не кислые такие как и должны быть. А хлеб?? Это просто отдельное блюдо) Доставка до двери на следующий день!! Скоро ещё и ещё и ещё закажу!!
      .comments-slider__col
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title olechka050552
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Заказала доставку в Горячем Ключе. Очень довольна. Спасибо вам огромное! Гордимся вами и наслаждаемся вашей продукцией
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title pushistenkiy_kotenok
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Заказываю всю молочка уже в 4 раз все очень вкусненько как в моем детстве просто как домашнее дети сказали что вкуснее молока не пили теперь беру все молочные продукты питания и очень счастлива натуральная и качественная продукция Я очень рада Спасибо производителям что берегут наше здоровья счастья и успехов вам
      .comments-slider__col
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title ol_ma
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Здравствуйте! Сегодня первый раз заказывали вашу доставку в Краснодаре! Спасибо большое, все очень свежее и очень вкусное отдельно хочется поблагодарить вашего водителя на чистой машине, в маске и перчатках пожелать можно только разве что расширения ассортимента
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title elena_markova_krd
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Обожаю вашу продукцию... Каждый вечер пьем всей семьёй ваш кефир. Самый вкусный на свете... А утром молоко...)
      .comments-slider__col
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title hochu_deneg
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Очень вкусная продукция у вас, жаль в магазинах возле дома нет сыра, с удовольствием бы попробовали давно
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title evgenia_ave1966
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Хочу оставить отзыв о продукции. Спасибо вам за свежайшие, вкусные и качественные продукты. Ем и наесться не могу)) Уже хочу опять) Творог, кефир нежные, не кислые такие как и должны быть. А хлеб?? Это просто отдельное блюдо) Доставка до двери на следующий день!! Скоро ещё и ещё и ещё закажу!!
      .comments-slider__col
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title olechka050552
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Заказала доставку в Горячем Ключе. Очень довольна. Спасибо вам огромное! Гордимся вами и наслаждаемся вашей продукцией
        .comments-slider__item
          .comments-slider__inner
            a(href="").comments-slider__title pushistenkiy_kotenok
              i.icon-arrow-left-top-45
            .comments-slider__text
              p Заказываю всю молочка уже в 4 раз все очень вкусненько как в моем детстве просто как домашнее дети сказали что вкуснее молока не пили теперь беру все молочные продукты питания и очень счастлива натуральная и качественная продукция Я очень рада Спасибо производителям что берегут наше здоровья счастья и успехов вам
