.delivery-p
	.main-container
		ul.breadcrumbs.breadcrumbs--b-none
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--distribution
				i.icon-broken-line
			li.breadcrumbs__item Доставка
		.delivery-inf
			.delivery-inf__cont
				h1.main-title
					span.main-title__stroke доставка
				.delivery-inf__cont-text
					h3 Мы доставляем фермерские
						span  продукты по Краснодару
						span  и Горячему Ключу — Бесконтактно
					h3.green На следующий день
						span  после заказа
					p В день доставки на ферме начинают готовить продукты по сформированным заказам. Поэтому мы доставляем только свежие продукты напрямую с ферм в течение суток.
			.col.delivery-inf__inner
			.delivery-inf__mob-text
				p В день доставки на ферме начинают готовить продукты по сформированным заказам. Поэтому мы доставляем только свежие продукты напрямую с ферм в течение суток.
		ul.delivery-inf__list
			li.delivery-inf__list-item
				.delivery-inf__list-icon-w
					i.icon-checkout
				.delivery-inf__list-name вы оформляете
					span  заказ
			li.delivery-inf__list-item
				.delivery-inf__list-icon-w
					i.icon-location
				.delivery-inf__list-name МЫ ПЕРЕДАЕМ
					span  ЗАКАЗ НА ФЕРМУ
			li.delivery-inf__list-item
				.delivery-inf__list-icon-w
					i.icon-supermarket
				.delivery-inf__list-name ФЕРМЕР ГОТОВИТ ЗАКАЗ
					span  ДЛЯ ВАС И ОТПРАВЛЯЕМ
					span  НА НАШ СКЛАД
			li.delivery-inf__list-item
				.delivery-inf__list-icon-w
					i.icon-shield
				.delivery-inf__list-name МЫ ПРОВЕРЯЕМ КАЧЕСТВО
					span  И БЕЗОПАСНОСТЬ
					span  ПРОДУКТОВ
			li.delivery-inf__list-item
				.delivery-inf__list-icon-w
					i.icon-home-delivery
				.delivery-inf__list-name бесконтактно
					span  ДОСТАВЛЯЕМ ЗАКАЗ
					span  ДО ВАШЕЙ ДВЕРИ
		.delivery-inf__arrow
			svg.ico.ico--angle-l.delivery-inf__arrow-icon.delivery-inf__arrow-icon--left
				use(xlink:href="img/ico/svg-sprite.svg#angle-l")
			svg.ico.ico--angle-l.delivery-inf__arrow-icon.delivery-inf__arrow-icon--right
				use(xlink:href="img/ico/svg-sprite.svg#angle-l")
			.delivery-inf__arrow-text 1 СУТКИ
.delivery-terms
	.main-title
		span.main-title__stroke ОБРАТИТЕ ВНИМАНИЕ
		span.main-title__block  НА УСЛОВИЯ ДОСТАВКИ
	.delivery-terms__inner
		.main-container
			.delivery-terms__list
				.delivery-terms__item
					.delivery-terms__item-title сколько стоит доставка?
					.delivery-terms__item-cont
						p При заказе от 1000 рублей мы доставляем всю продукцию бесплатно.
							span  (
								a(href="") кроме вечерней доставки
								| )
						p Доставка до 1000 рублей будет стоить 150 рублей. Стоимость доставки вне городов можно посмотреть на нашей карте с зонами доставки.
				.delivery-terms__item
					.delivery-terms__item-title Когда привезем продукты?
					.delivery-terms__item-cont
						p Мы принимаем заказы на следующий день до 22 часов текущего дня.
						p Это значит, что, если вы закажете сегодня до 22, то завтра мы привезем свежие продукты прямо с фермы.
						p Мы доставляем каждый день, кроме воскресенья.
				.delivery-terms__item.delivery-terms__item--right
					.delivery-terms__item-title В какое время происходит доставка?
					.delivery-terms__item-cont
						p.mb-0 Вы можете выбрать удобные
							span  для доставки окна:
						ul
							li с 10 до 14
							li с 14 до 18
							li с 18 до 21 (+200 рублей)
						p Обратите внимание, что вечерняя доставка с 18 до 21 – всегда платная при любой сумме заказа (200 рублей)
				.delivery-terms__item.delivery-terms__item--large
					.delivery-terms__item-title Как происходит доставка?
					.delivery-terms__item-cont
						p Курьер в маске и перчатках привезет ваш набор в продезинфицированном холодильнике (холодильники дезинфицируем перед каждым рейсом), поставит его на поверхность и отойдет на несколько метров.
						p Все продукты еще на стерильных производствах герметично упаковываются в вакуумную тару или пластик. Больше продукты не переупаковываются — в таком же виде доставляются курьером до двери.
				.delivery-terms__item.delivery-terms__item--right
					.delivery-terms__item-title Как узнать время доставки точнее?
					.delivery-terms__item-cont
						p Курьер позвонит за час, чтобы предупредить о приезде к вам. Если точное время доставки для вас критично – вы можете сделать пометку при заказе или оповестить оператора.