header.header
	.main-container
		.header__top
			.col.header__top-cont
				a(href="").header__logo
				ul.col.header__nav
					li.header__nav-item
						a(href="").header__nav-link.header__nav-link--active АКЦИИ
					li.header__nav-item
						a(href="").header__nav-link ДОСТАВКА
					li.header__nav-item
						a(href="").header__nav-link БЕЗОПАСНОСТЬ
					li.header__nav-item
						a(href="").header__nav-link НОВОСТИ
					li.header__nav-item
						a(href="").header__nav-link СВОИ
			.col-auto.ml-auto
				a(href="tel:+7 861 207 07 96").header__phone
					i.icon-phone
					|  +7 861 207 07 96
				a(href="").header__btn-subscription ПОДПИСКА
				a(href="").header__btn-login ЛИЧНЫЙ КАБИНЕТ
				a(href="").header__btn-menu
					span
					span
					span
		ul.header__menu
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--sets
							use(xlink:href="img/ico/svg-sprite.svg#sets")
					.header__menu-name НАБОРЫ
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--milk
							use(xlink:href="img/ico/svg-sprite.svg#milk")
					.header__menu-name Молочная
						br
						|  продукция
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--cheese
							use(xlink:href="img/ico/svg-sprite.svg#cheese")
					.header__menu-name сыры
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--chicken
							use(xlink:href="img/ico/svg-sprite.svg#chicken")
					.header__menu-name Птица и яйцо
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--beef
							use(xlink:href="img/ico/svg-sprite.svg#beef")
					.header__menu-name Говядина
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--vegetables
							use(xlink:href="img/ico/svg-sprite.svg#vegetables")
					.header__menu-name Овощи
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--grocery
							use(xlink:href="img/ico/svg-sprite.svg#grocery")
					.header__menu-name БАКАЛЕЯ
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--bread
							use(xlink:href="img/ico/svg-sprite.svg#bread")
					.header__menu-name Хлебобулочные
						br
						|  изделия
			li.header__menu-item
				a(href="").header__menu-link
					.header__menu-icon
						svg.ico.ico--freezing
							use(xlink:href="img/ico/svg-sprite.svg#freezing")
					.header__menu-name ЗАМОРОЗКА
.header-menu
	.header-menu__head МЕНЮ
		a(href="").header-menu__close
			.icon-close
	.header-menu__inner
		.header-menu__drop
			.header-menu__drop-head НАШИ ПРОДУКТЫ
				.header-menu__drop-caret
					i.icon-caret
					i.icon-caret-b
			ul.header-menu__drop-list
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link НАБОРЫ
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link Молочная продукция
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link сыры
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link Птица и яйцо
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link Говядина
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link Овощи
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link БАКАЛЕЯ
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link Хлебобулочные изделия
				li.header-menu__drop-list-item
					a(href="").header-menu__drop-list-link ЗАМОРОЗКА
		ul.header-menu__list
			li.header-menu__list-item
				a(href="").header-menu__list-link АКЦИИ
			li.header-menu__list-item
				a(href="").header-menu__list-link ДОСТАВКА
			li.header-menu__list-item
				a(href="").header-menu__list-link БЕЗОПАСНОСТЬ
			li.header-menu__list-item
				a(href="").header-menu__list-link НОВОСТИ
			li.header-menu__list-item
				a(href="").header-menu__list-link СВОИ
		a(href="").header-menu__subscription ПОДПИСКА
		a(href="").header-menu__btn-login ЛИЧНЫЙ КАБИНЕТ
#overlay


