.map.main-container
  .map__header
    h2.main-title
      span.main-title__stroke Доставляем продукты на дом
      |  в Краснодаре и Горячем Ключе
    .map__info
      i.icon-quote
      p Мы доставляем фермерские продукты только от самых надежных и безопасных хозяйств на Кубани.
  .map__wrap
    #map.map__cont
  .map__footer
    .map__info
      i.icon-quote
      p Мы доставляем фермерские продукты только от самых надежных и безопасных хозяйств на Кубани.



