.news.main-container
  h2.main-title новости и статьи
  .news__row
    .news__col.news__col--lg
      .news__item
        a(href="").news__inner.news__inner--large
          .news__img(style="background-image: url(img/pic-8.jpg);")
          .news__cont
            h3 Изоляция
              span  В изоляции
            p Текст с описанием статьи и дающий представление о ней
    .col.news__col
      .news__item
        a(href="").news__inner
          .news__img(style="background-image: url(img/pic-9.jpg);")
          .news__cont
            h3 Суровый
              span  фермерский
              span  бассейн
            p Текст с описанием статьи и дающий представление о ней
      .news__item
        a(href="").news__inner
          .news__img(style="background-image: url(img/pic-10.jpg);")
          .news__cont
            h3 Планы
              span  по коровнику
              span  в 2020 году
            p Текст с описанием статьи и дающий представление о ней
    .col.news__col
      .news__item
        a(href="").news__inner
          .news__img(style="background-image: url(img/pic-11.jpg);")
          .news__cont
            h3 Сельхоз-
              span  апокалипсис
            p Текст с описанием статьи и дающий представление о ней
      .news__item
        a(href="").news__inner
          .news__img(style="background-image: url(img/pic-12.jpg);")
          .news__cont
            h3 Неестественный
              span  отбор
            p Текст с описанием статьи и дающий представление о ней
