ul.pagination
	li.pagination__item
		a(href="").pagination__arrow
			i.icon-arrow-left
	li.pagination__item
		a(href="").pagination__btn.pagination__btn--active 1
	li.pagination__item
		a(href="").pagination__btn 2
	li.pagination__item
		a(href="").pagination__btn 3
	li.pagination__item
		a(href="").pagination__btn 4
	li.pagination__item
		a(href="").pagination__btn 5
	li.pagination__item ...
	li.pagination__item
		a(href="").pagination__arrow
			i.icon-arrow-right