.main-container.product-info.product-info--cheese
  .product-info__aside
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--distribution
        i.icon-broken-line
      li.breadcrumbs__item Сыры
    .product-info__title
      h2.main-title CЫРЫ
    .product-info__aside-text
      h3 Производство лучших сыров начинается с бережной пастеризации молока
      p Чтобы получить качественную основу для варки вкусных сыров, еще парное молоко доставляется в цех по переработке, где проходит бережную пастеризацию. Это позволяет сделать его максимально безопасным, сохранив при этом полезный состав и живые культуры.
      p После пастеризации и охлаждения получается цельное молоко. Далее следует процесс нормализации: смешиваются обрат и цельное молоко в определенной пропорции. Так получается молоко фиксированной жирности и основа для сыров и других кисломолочных продуктов.
    .product-info__cont-quote Наши поставщики готовят фермерский сыр из живого молока высшей категории, имеют необходимые документы и сертификаты качества. Отзывы о продуктах «Ключевское. От своих» можно прочитать в социальных сетях и на главной странице сайта.
  .col.product-info__cont
    .product-info__main-img-w
      .product-info__main-img(style="background-image:url('img/pic-16.jpg')")
    .product-info__cont-title
      .main-title
        span.main-title__stroke В основе наших сыров — всегда
        |  натуральное и живое молоко
    .product-info__cont-inner
      .col.product-info__cont-quote Наши поставщики готовят фермерский сыр из живого молока высшей категории, имеют необходимые документы и сертификаты качества. Отзывы о продуктах «Ключевское. От своих» можно прочитать в социальных сетях и на главной странице сайта.
      .product-info__cont-text Основа всегда одна — живое молоко, при этом разные виды сыров отличаются технологиями производства, ингредиентами и сроками вызревания. От них зависят: вкус, цвет, аромат, массовая доля жирности, пищевая и энергетическая ценность, податливость нарезке.

