.main-container.product-info.product-info--milk
  .product-info__aside
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--distribution
        i.icon-broken-line
      li.breadcrumbs__item Молочные продукты
    .product-info__title
      h2.main-title
        span.main-title__stroke молочные
        |  продукты
    .product-info__aside-text
      h3 Сервис «Ключевское. От своих» доставляет молочные продукты из небольших фермерских хозяйств, расположенных на Кубани. Теперь не нужно задаваться вопросом «где купить натуральную молочку?» или «когда съездить на рынок?», это можно сделать у нас. Также на нашем сайте регулярно появляются новые виды фермерской продукции.
      p Наша ценность — привозить вам на дом только живое, безопасное и свежее. Это значит, что у продуктов небольшой срок хранения, отсутствуют различные добавки и исключительно насыщенный вкус.
    ul.product-info__list
      li.product-info__list-item
        h3.product-info__list-title Свежее
        .product-info__list-text
          p Все наши поставщики находятся только в Краснодарском крае, чтобы время доставки в Краснодар и Горячий Ключ было минимальным. Таким образом возможно создать систему логистики, при которой молоко, творог, масло, кефир производятся небольшими партиями и попадают от фермеров сразу на ваш стол, сохраняя нежный вкус и полезные свойства.
  .col.product-info__cont
    .product-info__main-img-w
      .product-info__main-img(style="background-image:url('img/pic-19.jpg')")
    ul.product-info__list
      li.product-info__list-item
        h3.product-info__list-title Живое
        .product-info__list-text
          p У наших молочных продуктов короткий срок годности, это значит, что они «живые» и сохраняют полезные молочные бактерии, энергетическую и минеральную ценность. Для сравнения стерилизованное и ультрапастеризованное молоко таким похвастаться не может.
      li.product-info__list-item
        h3.product-info__list-title Безопасное
        .product-info__list-text
          p Также мы дважды в месяц проверяем продукты наших поставщиков в независимой лаборатории, чтобы всегда быть уверенными в безопасности товаров на нашем сайте. Проще говоря, мы регулярно следим, чтобы в составе не было сухого молока, стабилизаторов, загустителей, ароматизаторов, антибиотиков, фосфолипидов, пищевых волокон, и прочих добавок. Всё безопасно для питания, а доставка — бесконтактная.
      li.product-info__list-item
        h3.product-info__list-title Свежее
        .product-info__list-text
          p Все наши поставщики находятся только в Краснодарском крае, чтобы время доставки в Краснодар и Горячий Ключ было минимальным. Таким образом возможно создать систему логистики, при которой молоко, творог, масло, кефир производятся небольшими партиями и попадают от фермеров сразу на ваш стол, сохраняя нежный вкус и полезные свойства.





