.main-container.product-info.product-info--frozen
	.product-info__aside
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--distribution
				i.icon-broken-line
			li.breadcrumbs__item Заморозка
		.product-info__title
			h2.main-title ЗАМОРОЗКА
		.product-info__aside-text
			h3 Мы сотрудничаем только с поставщиками из Краснодарского края
			p Наши поставщики — это небольшие, технологичные крестьянские хозяйства и производства. Мы лично посещаем каждое производство, проводим тщательный отбор — его проходит только один поставщик из трех.
			p Кроме этого мы проверяем соответствие государственным требованиям, проверяем продукцию в нашей лаборатории, инспектируем условия хранения на производствах.
		.product-info__cont-quote В категории замороженных продуктов на нашем сайте уже можно заказать пельмени, вареники. К тому же мы постоянно обновляем ассортимент, добавляя, например, замороженные фрукты, овощи, готовые блюда, котлеты и так далее.
	.col.product-info__cont
		.product-info__main-img-w
			.product-info__main-img(style="background-image:url('img/pic-22-2.jpg')")
		.product-info__cont-quote В категории замороженных продуктов на нашем сайте уже можно заказать пельмени, вареники. К тому же мы постоянно обновляем ассортимент, добавляя, например, замороженные фрукты, овощи, готовые блюда, котлеты и так далее.