.main-container.product-info.product-info--vegetables
  .product-info__aside
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--distribution
        i.icon-broken-line
      li.breadcrumbs__item Овощи
    .product-info__title
      h2.main-title ОВОЩИ
    .product-info__aside-text
      h3 В интернет-магазине «Ключевское. От своих» только свежие и безопасные овощи, выращенные в экологически чистых районах Краснодарского края, без использования химических препаратов, ускоряющих их рост и созревание.
      p Мы осознанно не работаем с фермерскими хозяйствами, которые расположены рядом с крупными транспортными магистралями. Тщательно отбираем поставщиков овощей и следим за их качеством в течение всего временисотрудничества.
      p Каждого производителя мы знаем лично. Все хозяйства расположены в Краснодарском крае, что позволяет нам быстро доставлять продукцию на дом напрямую с фермы. Так дешевле, а к вам на стол попадают только свежие и вкусные овощи, будто только что собранные и упакованные — в магазине такие продукты не купить.
  .col.product-info__cont
    .product-info__main-img-w
      .product-info__main-img(style="background-image:url('img/pic-17.jpg')")
    .product-info__cont-title
      .main-title
        span.main-title__stroke Тщательно отбираем
        |  поставщиков


