.main-container.product-info.product-info--bread
  .product-info__aside
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--distribution
        i.icon-broken-line
      li.breadcrumbs__item Хлебобулочные изделия
    .product-info__title
      h2.main-title Хлебо-булочные изделия
    .product-info__aside-text
      h3 Создавая «Ключевское. От своих», мы хотели, чтобы небольшие крестьянские хозяйства имели возможность легко находить своих покупателей, не задумываться о продажах и реализации, и могли заниматься только своим любимым делом — производить натуральные и живые продукты.
      p Также мы хотели, чтобы в нашем интернет-магазине появились, не только молочные и кисломолочные продукты, но и хлебобулочные изделия. Потому что пекари на небольших крестьянских хозяйствах создают разные виды мучных изделий, как для себя, добавляя только натуральные ингредиенты.
      p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.

    .col.product-info__cont-quote В нашем ассортименте вы не найдете так называемый «хлеб с предприятия», содержащий добавки и всевозможные ферментные компоненты и созданный на заводском оборудовании. Мы продаем только свежий хлеб, приготовленный по старой технологии, с душой.
  .col.product-info__cont
    .product-info__main-img-w
      .product-info__main-img(style="background-image:url('img/pic-18.jpg')")
    .product-info__cont-title
      .main-title
        span.main-title__stroke Только свежие изделия с натуральными
        |  ингредиентами
    .product-info__cont-inner
      .col.product-info__cont-quote В нашем ассортименте вы не найдете так называемый «хлеб с предприятия», содержащий добавки и всевозможные ферментные компоненты и созданный на заводском оборудовании. Мы продаем только свежий хлеб, приготовленный по старой технологии, с душой.
      .product-info__cont-text Такие изделия содержат только натуральные ингредиенты, без прочих добавок. Например, солодовый хлеб, содержит пророщенные семена злаков, насыщен витаминами, белками и клетчаткой органического происхождения. Улучшает пищеварение и обладает густым ароматом.


