.main-container.product-info.product-info--bird
  .product-info__aside
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--distribution
        i.icon-broken-line
      li.breadcrumbs__item Мясо птицы
    .product-info__title
      h2.main-title Мясо
        span.main-title__stroke  птицы
    .product-info__aside-text
      h3 Фермерские продукты отличаются от магазинных более насыщенным вкусом.
      p Из них приятно готовить блюда, например, мясо птицы получается более нежным и вкусным. Кроме того, оно является хорошим источником минералов, калия, кальция, фосфора, натрия и железа. А из-за низкого содержания жира считается диетическим продуктом.
      p Мясо домашней птицы содержит больше белка и меньше соединительной ткани, в частности коллагена, чем свинина или говядина, поэтому лучше усваивается организмом.
      p В эту категорию входит не только мясо куры и цыплят, но и другие виды: индейки, утки, гуся, перепела. Ассортимент нашего магазина мы постоянно пополняем, находя новые фермерские хозяйства в Краснодарском крае: проверяем качество их продукции и условия производства, договариваемся о сотрудничестве и добавляем продукцию на сайт — только лучшее появляется в «Ключевское. От своих».
    .product-info__cont-quote Никакая птица, выращенная на гормонах и антибиотиках, подвергавшееся нескольким циклам заморозки, никогда не будет иметь нежный и насыщенный вкус фермерских продуктов.
  .col.product-info__cont
    .product-info__main-img-w
      .product-info__main-img(style="background-image:url('img/pic-13.jpg')")
    .product-info__cont-title
      .main-title
        span.main-title__stroke Домашняя птица
        |  вкуснее, свежее и полезнее
    .product-info__cont-inner
      .col.product-info__cont-quote Никакая птица, выращенная на гормонах и антибиотиках, подвергавшееся нескольким циклам заморозки, никогда не будет иметь нежный и насыщенный вкус фермерских продуктов.
      .product-info__cont-text Мы находим именно тех поставщиков сельскохозяйственной продукции в Краснодарском крае, которые добросовестно относятся к условиям содержания, кормят животных только натуральными кормами, а заказы собирают исключительно из свежего мяса. Поэтому мы доставляем именно холодное, а не замороженное.

