.main-container.product-info.product-info--beef
  .product-info__aside
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--distribution
        i.icon-broken-line
      li.breadcrumbs__item Говядина
    .product-info__title
      h2.main-title Говядина
    .product-info__aside-text
      h3 Говядина относится к постному мясу, содержит легкоусваиваемые белки, микроэлементы (железо, калий, кальций, фосфор, цинк, магний, натрий) и витамины (А, РР, С, группа В).
      p Под различные блюда следует выбирать определенные части говядины: толстый край, вырезка, лопатка, ребро, мякоть, шея, тонкий край, грудинка, подбедерок, лангет, ласточкин хвост. Ассортимент нашего интернет-магазина постоянно пополняется, поэтому у нас можно купить фермерскую говядину к самым разнообразным рецептам.
      p Например, для приготовления бифштекса, рулета, бефстроганов подойдет свежая лопатка — в ней меньше жира. Для ростбифа лучшая часть — толстый или тонкий край.
    .product-info__cont-quote Чтобы доставлять к столу исключительно свежие и экологически чистые продукты с фермы, мы тщательно отбираем поставщиков перед началом сотрудничества. А также следим за тем, насколько добросовестно они относятся к производству в дальнейшем
  .col.product-info__cont
    .product-info__main-img-w
      .product-info__main-img(style="background-image:url('img/pic-14.jpg')")
    .product-info__cont-inner
      .col.product-info__cont-title
        .main-title
          span.main-title__stroke Экологически чистый
          |  продукт
      .product-info__cont-text Для этого два раза в месяц мы проводим исследования продукции в лаборатории по случайно выбранным образцам, а результаты размещаем в открытом доступе. Помимо этого у каждого нашего поставщика есть ветеринарное свидетельство и декларация соответствия, без исключения. Что бы вы не выбрали, будь то парная говядина или говядина на кости, они будут высокого качества и безопасные для здоровья.
    .product-info__cont-quote Чтобы доставлять к столу исключительно свежие и экологически чистые продукты с фермы, мы тщательно отбираем поставщиков перед началом сотрудничества. А также следим за тем, насколько добросовестно они относятся к производству в дальнейшем


