.main-container.product-info.product-info--grocery
  .product-info__aside
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--distribution
        i.icon-broken-line
      li.breadcrumbs__item Бакалея
    .product-info__title
      h2.main-title бакалея
    .product-info__aside-text
      h3 Категория товаров «Бакалея» включает разнообразный ассортимент продуктов: орехи и семена, сухофрукты, растительные рафинированные и нерафинированные масла, специи и приправы, мука и крупы разного помола, различная кулинария, соленья, соки и так далее.
      p Мы постоянно расширяем список товаров в нашем интернет-магазине, отбирая лучшие фермерские хозяйства в Краснодарском крае. Только одно из трех хозяйств проходит проверку: производства, качества продукции и соответствие установленным государственным нормативам.
    .product-info__cont-quote Идея «Ключевское. От своих» — помочь добросовестным фермерам найти своих покупателей. Чтобы они не задумывались о торговле и маркетинге — всему тому, что отвлекало бы их от любимого дела. В результате нам удалось создать систему логистики, проверки производства и качества продукции, интернет-магазин.

  .col.product-info__cont
    .product-info__main-img-w
      .product-info__main-img(style="background-image:url('img/pic-15.jpg')")
    .product-info__cont-quote Идея «Ключевское. От своих» — помочь добросовестным фермерам найти своих покупателей. Чтобы они не задумывались о торговле и маркетинге — всему тому, что отвлекало бы их от любимого дела. В результате нам удалось создать систему логистики, проверки производства и качества продукции, интернет-магазин.