.p-catalog
  .main-container
    a(href="").link-to
      i.icon-broken-line
      |  В нашем интернет-магазине
    h2.main-title
      span.main-title__stroke только натуральные продукты,
      |  доставленные напрямую с фермы
    .p-c-select
      .p-c-select__selected
        span.p-c-select__selected-text ВЫБЕРИТЕ ПРОДУКТ
        i.icon-arrow-down
      .p-c-select__list
        .p-c-select__list-item Молочная продукция
        .p-c-select__list-item Сыры
        .p-c-select__list-item Хлебобулочные изделия
        .p-c-select__list-item Птица и яйцо
        .p-c-select__list-item Говядина
        .p-c-select__list-item Овощи
        .p-c-select__list-item Бакалея
        .p-c-select__list-item Наборы
        .p-c-select__list-item Заморозка
    .p-catalog__list
      a(href="").p-catalog__list-item.p-catalog__list-item--green
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-1.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Молочная
            span продукция
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--brown
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-2.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Сыры
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--blue
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-3.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Хлебобулочные
            span  изделия
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--brown
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-4.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Птица и яйцо
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--green
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-5.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Говядина
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--blue
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-6.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Овощи
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--green
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-7.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Бакалея
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--blue
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-8.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Наборы
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
      a(href="").p-catalog__list-item.p-catalog__list-item--brown
        .p-catalog__list-img-w
          img(src="img/p-catalog/p-catalog-9.png" alt="").p-catalog__list-img
        .p-catalog__list-cont
          .p-catalog__list-name Заморозка
          .p-catalog__list-text
            p Лучшее, что случалось с вашими вкусовыми рецепторами и мозгом
