.main-container.product-info.product-info--sets
	.product-info__aside
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--distribution
				i.icon-broken-line
			li.breadcrumbs__item НАБОРЫ
		.product-info__title
			h2.main-title НАБОРЫ
		.product-info__aside-text
			p Продуктовый набор — это свежие и натуральные продукты питания, собранные для приготовления разнообразных блюд. Все продукты собраны и упакованы на фермах наших поставщиков, свежие и безопасные для здоровья. Состав готовых наборов мы регулярно обновляем и дополняем. Фото продуктов можно увидеть, открыв карточку набора.
	.col.product-info__cont
		.product-info__main-img-w
			.product-info__main-img(style="background-image:url('img/pic-21-2.jpg')")
		.product-info__cont-title
			.main-title
				span.main-title__stroke ПРОДУКТОВЫЕ
				|  НАБОРЫ

