.suppliers.main-container
  .suppliers__header
    h2.main-title Наши
      span.main-title__stroke  поставщики
    .suppliers__header-info
      i.icon-quote
      p Небольшие и технологичные фермы, уделяющие внимание безопасности продуктов и чистоте производства. Мы уверены в их надежности.
  .suppliers-slider-w
    .suppliers-slider
      .suppliers-slider__item
        .suppliers-slider__inner
          .col.suppliers-slider__img-w
            a(href="//www.youtube.com/embed/6v2L2UGZJAM?version=3" style="background-image:url('img/pic-7.jpg')" data-rel="lightcase" ).suppliers-slider__img-inner
              span.suppliers-slider__play
          .suppliers-slider__text
            .suppliers-slider__title «Ключевское»
            .suppliers-slider__text-cont
              p Инновационная молочная ферма полного цикла
      .suppliers-slider__item
        .suppliers-slider__inner
          .col.suppliers-slider__img-w
            a(href="img/pic-7.jpg" style="background-image:url('img/pic-7.jpg')" data-rel="lightcase").suppliers-slider__img-inner
          .suppliers-slider__text
            .suppliers-slider__title «Ключевское»
            .suppliers-slider__text-cont
              p Инновационная молочная ферма полного цикла
    .suppliers-slider__control
      .col-auto.mr-auto
        .suppliers-slider__arrows
          .suppliers-slider__arrows-item.suppliers-slider__arrows-item--prev
            i.icon-arrow-left
          .suppliers-slider__arrows-item.suppliers-slider__arrows-item--next
            i.icon-arrow-right
      .col.suppliers-slider__progress
        .suppliers-slider__progress-inner
          .suppliers-slider__number
            span.suppliers-slider__number-current
            | /
            span.suppliers-slider__number-total
        .suppliers-slider__number
          span.suppliers-slider__number-current
          | /
          span.suppliers-slider__number-total
