.welcome
  .main-container
    .welcome-slider
      .welcome-slider__item
        .welcome-slider__img-w
          .welcome-slider__img(style="background-image: url('img/pic-1.jpg');")
        .welcome-slider__info
          .welcome-slider__title-group
            .welcome-slider__title
              span ТЕПЕРЬ ДОСТАВЛЯЕМ
              |  В СТАВРОПОЛЬ
          .welcome-slider__info-text
            p Основан в 1777 году как крепость Ставрополь. Это название отражает распространённую в Российской империи в конце XVIII века практику.
      .welcome-slider__item
        .welcome-slider__img-w
          .welcome-slider__img(style="background-image: url('img/pic-1.jpg');")
        .welcome-slider__info
          .welcome-slider__title-group
            .welcome-slider__title
              span ТЕПЕРЬ ДОСТАВЛЯЕМ
              |  В СТАВРОПОЛЬ
          .welcome-slider__info-text
            p Основан в 1777 году как крепость Ставрополь. Это название отражает распространённую в Российской империи в конце XVIII века практику.
    .welcome-slider__control
      a(href="").welcome-slider__btn-more Подробнее
        i.icon-arrow-right-top-45
      .col.welcome-slider__progress
        .welcome-slider__progress-inner
          .welcome-slider__number
            span.welcome-slider__number-current
            | /
            span.welcome-slider__number-total
        .welcome-slider__number
          span.welcome-slider__number-current
          | /
          span.welcome-slider__number-total
      .col-auto.ml-auto
        .welcome-slider__arrows
          .welcome-slider__arrows-item.welcome-slider__arrows-item--prev
            i.icon-arrow-left
          .welcome-slider__arrows-item.welcome-slider__arrows-item--next
            i.icon-arrow-right
