// root
$rootUrl: "images/";
$rootUrlFonts: "../fonts/";
// fonts
$fontTTOctosquares: 'TTOctosquares';
$fontTTOctosquaresComp: 'TT Octosquares Comp';
$fontsTTInterfaces: 'TT Interfaces';
$fontTTInterfacesMono: 'TT Interfaces Mono';
$fontMontserrat: 'Montserrat';
$fontProximaNova: 'Proxima Nova';
// colors
$colorGreen: #01C887;
$colorDark: #2A2A2A;