.main-container
	.page-info
		.page-info__item
			ul.breadcrumbs.breadcrumbs--b-lr
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Главная
				li.breadcrumbs__item.breadcrumbs__item--distribution
					i.icon-broken-line
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Свои
				li.breadcrumbs__item.breadcrumbs__item--distribution
					i.icon-broken-line
				li.breadcrumbs__item «Ключевское»
		.page-info__item
			.page-info__cont
				.col-auto
					p.page-info__p
						b 15 Июня 2020
				.col-auto.ml-auto
					ul.page-info__list
						li.page-info__list-item
							a(href="").page-info__list-link Изоляция
						li.page-info__list-item
							a(href="").page-info__list-link COVID-19
						li.page-info__list-item
							a(href="").page-info__list-link Хром
	.image-slider
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-38.jpg');" data-rel="lightcase").image-slider__img
.text-content.text-content--lg
	h1.main-title.main-title--lg Изоляция В изоляции
	p.text-quote Создавая «Ключевское.
		br
		| От своих», мы хотели, чтобы небольшие крестьянские хозяйства имели возможность легко находить своих покупателей, не задумываться о продажах и реализации, и могли заниматься только своим любимым делом — производить натуральные и живые продукты.
	p Также мы хотели, чтобы в нашем интернет-магазине появились, не только молочные и кисломолочные продукты, но и хлебобулочные изделия. Потому что пекари на небольших крестьянских хозяйствах создают разные виды мучных изделий, как для себя, добавляя только натуральные ингредиенты.
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
	h3 Заголовок №2 дополнительный
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
.main-container
	.image-slider.image-slider--sm
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
.text-content.text-content--mt-s
	h2 Большой заголовок и товары
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
.main-container
	include ../blocks/_popular-slider-small
