.main-container
	.sb-info
		.sb-info__row.sb-info__row--1
			.col.sb-info__cont
				h3.main-title
					.main-title__stroke Подписка
						span.main-title__block на фермерскую
						|  корзину
					| с доставкой
					span.main-title__block на дом
				a(href="").btn-r.btn-r--gold.btn-r--large-df оформить подписку
			.sb-info__aside
				a(href="img/pic-39.jpg" data-rel="lightcase").sb-info__img-w
					.sb-info__img(style="background-image: url(img/pic-39.jpg);")
		.sb-info__row.sb-info__row--2
			.col.sb-info__cont.sb-info__cont--icon
				i.icon-fire
				h3.main-title
					.main-title__stroke мы, как покупатели,
					| каждый находимся
					span.main-title__block  между двух огней
				.sb-info__text
					p С одной стороны — искусственно удешевленная продукция с консервантами, усилителями и добавками из магазинов.
					p С другой — безымянные продукты без сертификатов, санитарии и разрешений с рынков.
					p Где взять натуральное молоко, яйца, мясо, овощи и фрукты? Как не ошибиться в выборе? И самое важное, как обезопасить себя и своих близких от опасных продуктов?
					p
						b Хватит рисковать!
						|  «Ключевское. От своих» — сервис по отбору, контролю и доставке безопасных фермерских продуктов.
			.sb-info__aside
				.co-founder__info
					img(src="img/co-founder-img.png" alt="").co-founder__info-img
					.co-founder__info-cont
						.co-founder__info-title
							span артем
							|  боровец
						.col.co-founder__info-text Cо-основатель
							span  "Ключевское. От своих"
	.sb-order-info
		.col.sb-order-info__cont
			.sb-order-info__inner
				i.icon-shield.sb-order-info__icon
				i.icon-supermarket.sb-order-info__icon
				.sb-order-info__box
					h3 Оформите подписку на корзину безопасных фермерских продуктов
					p И каждые 7 дней мы будем бесконтактно доставлять вам свежие продукты напрямую с небольших ферм.
		.sb-order-info__aside
			.sb-order-info__inner
				.sb-order-info__percent 5%
				.sb-order-info__box.sb-order-info__box--p
					a(href="").sb-order-info__btn оформить подписку
					.sb-order-info__p Дарим скидку при первом заказе
	.sb-info-product
		.col.sb-info-product__item
			.sb-info-product__title от своих
			.sb-info-product__cont
				p Потому что сделаны на совесть. Все поставщики — живые люди, а не огромные корпорации. Отвечают перед вами лично. Но и мы верим не только на слово — дважды в месяц проводим экспертизу случайных продуктов в лаборатории и публикуем у себя на сайте (линк на раздел).
		.col.sb-info-product__item
			.sb-info-product__title безопасные
			.sb-info-product__cont
				p Потому что созданы с особым подходом к чистоте производства. Есть все документы: вет. свидетельства, декларации ГОСТ, протоколы микробиологических исследований. Все продукты герметично упаковываются на стерильных производствах, доставляются бесконтактно. Тут вам не рынок.
		.col.sb-info-product__item
			.sb-info-product__title фермерские
			.sb-info-product__cont
				p Потому что состав понятный и простой, а срок годности — короткий. Нет ничего лишнего, только вода, солнце и человеческий труд. Мы собираем корзину только из натуральных фермерских продуктов наших поставщиков.
	.sb-about
		.main-title
			span.main-title__stroke КАК РАБОТАЕТ
			span.main-title__block ПОДПИСКА
		.sb-about__row
			.sb-about__item.sb-about__item--1
				.sb-about__item-num 1
				.sb-about__item-icon
					svg.ico.ico--supermarket
						use(xlink:href="img/ico/svg-sprite.svg#supermarket")
				.col.sb-about__item-text Вы оформляете подписку на продуктовый набор
			.sb-about__item.sb-about__item--2
				.sb-about__item-num 2
				.sb-about__item-icon
					svg.ico.ico--calendar
						use(xlink:href="img/ico/svg-sprite.svg#calendar")
				.col.sb-about__item-text Фермы собирают набор раз в неделю
			.sb-about__item.sb-about__item--3
				.sb-about__item-num 3
				.sb-about__item-icon
					svg.ico.ico--shield
						use(xlink:href="img/ico/svg-sprite.svg#shield")
				.col.sb-about__item-text Проверяем качество и безопасность продуктов
			.sb-about__item.sb-about__item--4
				.sb-about__item-num 4
				.sb-about__item-icon
					svg.ico.ico--home-delivery
						use(xlink:href="img/ico/svg-sprite.svg#home-delivery")
				.col.sb-about__item-text Бесконтактно доставляем корзину раз в неделю
	.sb-choice
		.main-title
			span.main-title__stroke ВЫБЕРИТЕ СВОЮ
			span.main-title__block ФЕРМЕРСКУЮ КОРЗИНУ
		ul.sb-choice__list
			li.sb-choice__list-item
				a(href="").sb-choice__list-link.sb-choice__list-link--active ПРОБНАЯ НА ОДНУ НЕДЕЛЮ
			li.sb-choice__list-item
				a(href="").sb-choice__list-link НА ОДНОГО
			li.sb-choice__list-item
				a(href="").sb-choice__list-link НА ДВОИХ
			li.sb-choice__list-item
				a(href="").sb-choice__list-link НА ТРОИХ И БОЛЕЕ
		.sb-choice__content
			.col.sb-choice__cont
				.sb-choice__title Состав корзины
					span  на неделю
				.sb-choice__inner
					.col.sb-choice__inner-cont
						ul.sb-choice__details-list
							li.sb-choice__details-list-item Молоко цельное 2,5% —
								b  2 л
							li.sb-choice__details-list-item Кефир 2,5% —
								b  2 л
							li.sb-choice__details-list-item Сметана 20% —
								b  800 гр
							li.sb-choice__details-list-item Творог 5% —
								b  400 гр
							li.sb-choice__details-list-item Яйца куриные —
								b  30 шт
							li.sb-choice__details-list-item Домашняя курочка для жарки —
								b 5 кг
							li.sb-choice__details-list-item Домашняя перепёлочка —
								b  3 кг
							li.sb-choice__details-list-item Тортеллини свино-говяжьи —
								b  2 кг
							li.sb-choice__details-list-item Вареники домашние картошка с грибами —
								b  2 кг
							li.sb-choice__details-list-item Ремесленный хлеб кукурузный —
								b  420 гр
							li.sb-choice__details-list-item Масло сливочное 82,5% —
								b  200 гр
					.sb-choice__inner-price
						p.sb-choice__p Доставка входит в стоимость
						.sb-choice__price
							.sb-choice__price-label В месяц
							.sb-choice__price-num 4 900
								span.rub  ₽
						.sb-choice__price
							.sb-choice__price-label В месяц
							.sb-choice__price-num 19 600
								span.rub  ₽
				a(href="").sb-choice__btn заказать
			a(href="img/pic-40.jpg" data-rel="lightcase").sb-choice__img-w
				.sb-choice__img(style="background-image: url('img/pic-40.jpg');")

