.yours.main-container
	ul.breadcrumbs.breadcrumbs--b-lr
		li.breadcrumbs__item
			a(href="").breadcrumbs__link Главная
		li.breadcrumbs__item.breadcrumbs__item--distribution
			i.icon-broken-line
		li.breadcrumbs__item Свои
	.main-title свои фермеры и ремесленники
	ul.yours__list
		li
		li.yours__list-item
			a(href="").yours__list-inner
				.yours__list-img-w
					img(src="img/pic-34.jpg").yours__list-img-s
					//.yours__list-img(style="background-image: url('img/pic-34.jpg');")
				.yours__list-name «Ключевское»
				.yours__list-autor
					span От
					|  артема боровец
				.yours__list-text Молочные продукты и веники для бани
		li.yours__list-item
			a(href="").yours__list-inner
				.yours__list-img-w
					img(src="img/pic-34.jpg").yours__list-img-s
					//.yours__list-img(style="background-image: url('img/pic-34.jpg');")
				.yours__list-name «Ключевское»
				.yours__list-autor
					span От
					|  артема боровец
				.yours__list-text Молочные продукты и веники для бани
		li.yours__list-item
			a(href="").yours__list-inner
				.yours__list-img-w
					img(src="img/pic-34.jpg").yours__list-img-s
					//.yours__list-img(style="background-image: url('img/pic-34.jpg');")
				.yours__list-name «Ключевское»
				.yours__list-autor
					span От
					|  артема боровец
				.yours__list-text Молочные продукты и веники для бани
		li.yours__list-item
			a(href="").yours__list-inner
				.yours__list-img-w
					img(src="img/pic-34.jpg").yours__list-img-s
					//.yours__list-img(style="background-image: url('img/pic-34.jpg');")
				.yours__list-name «Ключевское»
				.yours__list-autor
					span От
					|  артема боровец
				.yours__list-text Молочные продукты и веники для бани
		li.yours__list-item
			a(href="").yours__list-inner
				.yours__list-img-w
					img(src="img/pic-34.jpg").yours__list-img-s
					//.yours__list-img(style="background-image: url('img/pic-34.jpg');")
				.yours__list-name «Ключевское»
				.yours__list-autor
					span От
					|  артема боровец
				.yours__list-text Молочные продукты и веники для бани
		li.yours__list-item
			a(href="").yours__list-inner
				.yours__list-img-w
					img(src="img/pic-34.jpg").yours__list-img-s
					//.yours__list-img(style="background-image: url('img/pic-34.jpg');")
				.yours__list-name «Ключевское»
				.yours__list-autor
					span От
					|  артема боровец
				.yours__list-text Молочные продукты и веники для бани
