.main-container
	.page-info
		.page-info__item
			ul.breadcrumbs.breadcrumbs--b-lr
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Главная
				li.breadcrumbs__item.breadcrumbs__item--distribution
					i.icon-broken-line
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Свои
				li.breadcrumbs__item.breadcrumbs__item--distribution
					i.icon-broken-line
				li.breadcrumbs__item «Ключевское»
		.page-info__item
			.page-info__cont
				p.page-info__p Дата основная
					!=" "
					b 2015
	.image-slider
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
.text-content
	h1.main-title «Ключевское»
	p.text-quote Создавая «Ключевское.
		br
		| От своих», мы хотели, чтобы небольшие крестьянские хозяйства имели возможность легко находить своих покупателей, не задумываться о продажах и реализации, и могли заниматься только своим любимым делом — производить натуральные и живые продукты.
	p Также мы хотели, чтобы в нашем интернет-магазине появились, не только молочные и кисломолочные продукты, но и хлебобулочные изделия. Потому что пекари на небольших крестьянских хозяйствах создают разные виды мучных изделий, как для себя, добавляя только натуральные ингредиенты.
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
	h3 Заголовок №2 дополнительный
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
.main-container
	.image-slider.image-slider--sm
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
		.image-slider__item
			a(href="img/pic-35.jpg" style="background-image: url('img/pic-35.jpg');" data-rel="lightcase").image-slider__img
.text-content.text-content--mt-s
	h2 Большой заголовок и товары
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
	p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
.main-container
	include ../blocks/_popular-slider-small
	a(href="").more-products посмотреть еще продукты
	.about-info
		.col.about-info__cont
			h2 Большой заголовок
			p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
			h3 Заголовок №2 дополнительный
			p Кроме того говорят, что тесто чувствует настроение и впитывает его в себя. Поэтому хлеб, приготовленный руками — настоящий, полезный и с душой. А именно так и пекут хлебобулочные изделия на небольших, домашних производствах.
			a(href="").about-info__btn-more новости артема
		.about-info__aside
			a(href="").about-info__img-w
				.about-info__img(style="background-image: url('img/pic-36.jpg');")
			.about-info__text
				.main-title
					span.main-title__stroke артем
					br
					|  боровец
				p.about-info__text-inf Cо-основатель "Ключевское. От своих"