extends layout/_layout

block content
    #main
        include blocks/_header
        .page-inner.page-inner--catalog
            include blocks/_product-info-sets
            include blocks/_catalog
            include blocks/_catalog-info-sets
            include blocks/_comments
            include blocks/_feedback
            include blocks/_footer
