extends layout/_layout

block content
	#main
		include blocks/_header
		.page-inner
			.main-container
				.personal-office
					.personal-office__aside
						ul.p-office-list
							li.p-office-list__item
								a(href="").p-office-list__link.p-office-list__link--active КАБИНЕТ
							li.p-office-list__item
								a(href="").p-office-list__link адреса
							li.p-office-list__item
								a(href="").p-office-list__link ПАРОЛЬ
							li.p-office-list__item
								a(href="").p-office-list__link ЗАКАЗЫ
						.po-btn-w
							a(href="").po-btn-w__link ВЫЙТИ
					.col.personal-office__cont
						ul.po-password
							li.po-password__item
								.form-row
									input(type="password" placeholder="Введите текущий пароль").form-row__input
							li.po-password__item
								.form-row
									input(type="password" placeholder="Введите новый пароль").form-row__input
							li.po-password__item
								.form-row
									input(type="password" placeholder="Повторите новый пароль ").form-row__input
						input(type="button" value="ИЗМЕНИТЬ ПАРОЛЬ").btn-r.btn-r--green.btn-r--large-df.btn-r--full
