extends layout/_layout

block content
	#main
		include blocks/_header
		.page-inner
			.main-container
				.personal-office
					.personal-office__aside
						ul.p-office-list
							li.p-office-list__item
								a(href="").p-office-list__link.p-office-list__link--active КАБИНЕТ
							li.p-office-list__item
								a(href="").p-office-list__link адреса
							li.p-office-list__item
								a(href="").p-office-list__link ПАРОЛЬ
							li.p-office-list__item
								a(href="").p-office-list__link ЗАКАЗЫ
						.po-btn-w
							a(href="").po-btn-w__link ВЫЙТИ
					.col.personal-office__cont
						.po-orders-empty Пока заказов нет
